{
    "kind": "discovery#restDescription",
    "discoveryVersion": "v2",
    "id": "PlatformService:v1",
    "name": "PlatformService",
    "version": "v1",
    "title": "PlatformService",
    "description": "Provides services around concepts; webhooks, accounts",
    "documentationLink": "http://code.exacttarget.com",
    "protocol": "rest",
    "rootUrl": "https://www.exacttargetapis.com/",
    "servicePath": "PlatformService/v1",
    "resources": {
        "webhooks": {
            "methods": {
                "createWebhooks": {
                    "id": "PlatformService.webhooks.createWebhooks",
                    "path": "webhooks",
                    "httpMethod": "post",
                    "description": "Webhook to be created",
                    "responseCodes": [
                        {
                            "httpStatusCode": 200,
                            "description": "When successful"
                        }
                    ],
                    "response": {
                        "$ref": "PlatformService.webhooks.createWebhooks-Response"
                    },
                    "request": {
                        "$ref": "PlatformService.webhooks.createWebhooks-Response"
                    }
                },
                "getWebhooksById": {
                    "id": "PlatformService.webhooks.getWebhooksById",
                    "path": "webhooks/{webhookId}",
                    "httpMethod": "get",
                    "description": "Get the webhook by ID",
                    "responseCodes": [
                        {
                            "httpStatusCode": 200,
                            "description": "When successful"
                        }
                    ],
                    "response": {
                        "$ref": "PlatformService.webhooks.createWebhooks-Response"
                    },
                    "parameters": {
                        "webhookId": {
                            "type": "string",
                            "description": "webhoookId for get",
                            "required": true,
                            "location": "path",
                            "format": "uuid"
                        }
                    }
                },
                "getAllWebhooksByCurrentMember": {
                    "id": "PlatformService.webhooks.getAllWebhooksByCurrentMember",
                    "path": "accounts/current/webhooks",
                    "httpMethod": "get",
                    "description": "Get all the webhooks",
                    "responseCodes": [
                        {
                            "httpStatusCode": 200,
                            "description": "When successful"
                        }
                    ],
                    "response": {
                        "$ref": "PlatformService.webhooks.getAllWebhooksByCurrentMember-Response"
                    },
                    "parameters": {
                        "$page": {
                            "type": "integer",
                            "description": "Paging",
                            "required": false,
                            "location": "query",
                            "format": "int32",
                            "default": "1",
                            "minimum": 1,
                            "maximum": 2147483647
                        },
                        "$pagesize": {
                            "type": "integer",
                            "description": "Page Size for paging",
                            "required": false,
                            "location": "query",
                            "format": "int32",
                            "default": "50",
                            "minimum": 1,
                            "maximum": 1000
                        }
                    }
                },
                "deleteWebhooks": {
                    "id": "PlatformService.webhooks.deleteWebhooks",
                    "path": "webhooks/{webhookId}",
                    "httpMethod": "delete",
                    "description": "Delete specific webhook",
                    "responseCodes": [
                        {
                            "httpStatusCode": 200,
                            "description": "When successful"
                        }
                    ],
                    "response": {
                        "$ref": "PlatformService.webhooks.deleteWebhooks-Response"
                    },
                    "parameters": {
                        "webhookId": {
                            "type": "string",
                            "description": "webhoookId for delete",
                            "required": true,
                            "location": "path",
                            "format": "uuid"
                        }
                    }
                }
            }
        },
        "accounts": {
            "methods": {
                "getAccountUsers": {
                    "id": "PlatformService.accounts.getAccountUsers",
                    "path": "accounts/{memberId}/users",
                    "httpMethod": "get",
                    "description": "Get users for an account",
                    "responseCodes": [
                        {
                            "httpStatusCode": 403,
                            "code": 20002,
                            "description": "Not fully authorized request"
                        },
                        {
                            "httpStatusCode": 200,
                            "description": "When successful"
                        }
                    ],
                    "response": {
                        "$ref": "PlatformService.accounts.getAccountUsers-Response"
                    },
                    "parameters": {
                        "$page": {
                            "type": "integer",
                            "description": "Paging",
                            "required": false,
                            "location": "query",
                            "format": "int32",
                            "default": "1",
                            "minimum": 1,
                            "maximum": 2147483647
                        },
                        "$pagesize": {
                            "type": "integer",
                            "description": "Page Size for paging",
                            "required": false,
                            "location": "query",
                            "format": "int32",
                            "default": "50",
                            "minimum": 1,
                            "maximum": 1000
                        },
                        "searchString": {
                            "type": "string",
                            "description": "Search string",
                            "required": false,
                            "location": "query"
                        },
                        "sortOrder": {
                            "type": "string",
                            "description": "Sort Order",
                            "required": false,
                            "location": "query"
                        },
                        "memberId": {
                            "type": "integer",
                            "description": "memberId for get",
                            "required": true,
                            "location": "path",
                            "format": "int32"
                        }
                    }
                }
            }
        }
    },
    "schemas": {
        "PlatformService.webhooks.createWebhooks-Response": {
            "id": "PlatformService.webhooks.createWebhooks-Response",
            "type": "object",
            "properties": {
                "id": {
                    "type": "string",
                    "format": "uuid"
                },
                "name": {
                    "type": "string"
                },
                "callbackUrl": {
                    "type": "string"
                },
                "callbackKey": {
                    "type": "string"
                },
                "isVerified": {
                    "type": "boolean"
                },
                "secretToken": {
                    "type": "string"
                },
                "verifiedOn": {
                    "type": "string",
                    "format": "date-time"
                },
                "lastSuccessDate": {
                    "type": "string",
                    "format": "date-time"
                },
                "createdDate": {
                    "type": "string",
                    "format": "date-time"
                },
                "modifiedDate": {
                    "type": "string",
                    "format": "date-time"
                },
                "configuration": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "maxEmitBatchSize": {
                    "type": "integer",
                    "format": "int32"
                },
                "msWaitToAssemble": {
                    "type": "integer",
                    "format": "int32"
                },
                "classification": {
                    "type": "string"
                },
                "outputSchema": {
                    "type": "string"
                },
                "retryUntilMinutesPass": {
                    "type": "integer",
                    "format": "int32"
                },
                "maxMessagesPerMinute": {
                    "type": "integer",
                    "format": "int32"
                }
            }
        },
        "PlatformService.webhooks.getAllWebhooksByCurrentMember-Response": {
            "id": "PlatformService.webhooks.getAllWebhooksByCurrentMember-Response",
            "type": "object",
            "properties": {
                "count": {
                    "type": "integer",
                    "format": "int32"
                },
                "items": {
                    "type": "array",
                    "items": {
                        "$ref": "PlatformService.webhooks.createWebhooks-Response"
                    }
                },
                "page": {
                    "type": "integer",
                    "format": "int32"
                },
                "pageSize": {
                    "type": "integer",
                    "format": "int32"
                },
                "links": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                }
            }
        },
        "PlatformService.webhooks.deleteWebhooks-Response": {
            "id": "PlatformService.webhooks.deleteWebhooks-Response",
            "type": "object",
            "properties": {}
        },
        "PlatformService.accounts.getAccountUsers-Response": {
            "id": "PlatformService.accounts.getAccountUsers-Response",
            "type": "object",
            "properties": {
                "count": {
                    "type": "integer",
                    "format": "int32"
                },
                "items": {
                    "type": "array",
                    "items": {
                        "$ref": "PlatformService.accounts.getAccountUsers-Response-SubType-IUserEntityV1"
                    }
                },
                "page": {
                    "type": "integer",
                    "format": "int32"
                },
                "pageSize": {
                    "type": "integer",
                    "format": "int32"
                },
                "links": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                }
            }
        },
        "PlatformService.accounts.getAccountUsers-Response-SubType-IUserEntityV1": {
            "id": "PlatformService.accounts.getAccountUsers-Response-SubType-IUserEntityV1",
            "type": "object",
            "properties": {
                "id": {
                    "type": "integer",
                    "format": "int64"
                },
                "memberId": {
                    "type": "integer",
                    "format": "int32"
                },
                "enterpriseId": {
                    "type": "integer",
                    "format": "int32"
                },
                "userName": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "email": {
                    "type": "string"
                },
                "notificationEmail": {
                    "type": "string"
                },
                "lastAccessed": {
                    "type": "string",
                    "format": "date-time"
                },
                "accountType": {
                    "type": "string"
                },
                "locale": {
                    "type": "string"
                },
                "userDefinedName": {
                    "type": "string"
                },
                "timezoneId": {
                    "type": "integer",
                    "format": "int32"
                },
                "sfContactId": {
                    "type": "string"
                },
                "permissions": {
                    "type": "array",
                    "items": {
                        "$ref": "PlatformService.accounts.getAccountUsers-Response-SubType-IUserPermissionEntityV1"
                    }
                },
                "timeZone": {
                    "$ref": "PlatformService.accounts.getAccountUsers-Response-SubType-TimeZone"
                },
                "canImpersonate": {
                    "type": "boolean"
                }
            }
        },
        "PlatformService.accounts.getAccountUsers-Response-SubType-IUserPermissionEntityV1": {
            "id": "PlatformService.accounts.getAccountUsers-Response-SubType-IUserPermissionEntityV1",
            "type": "object",
            "properties": {
                "hasAccess": {
                    "type": "boolean"
                },
                "objectTypeName": {
                    "type": "string"
                },
                "operationName": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "id": {
                    "type": "integer",
                    "format": "int32"
                },
                "mIds": {
                    "type": "string"
                },
                "eventTypeAction": {
                    "type": "string"
                }
            }
        },
        "PlatformService.accounts.getAccountUsers-Response-SubType-TimeZone": {
            "id": "PlatformService.accounts.getAccountUsers-Response-SubType-TimeZone",
            "type": "object",
            "properties": {
                "timeZoneId": {
                    "type": "integer",
                    "format": "int32"
                },
                "name": {
                    "type": "string"
                },
                "description": {
                    "type": "string"
                },
                "offSet": {
                    "type": "string"
                },
                "isDaylightSavingsTime": {
                    "type": "boolean"
                },
                "timeZoneInfoId": {
                    "type": "string"
                }
            }
        }
    },
    "key": "Platform-Experimental"
}
