<table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="min-width: 100%; " class="stylingblock-content-wrapper"><tr><td style="padding-bottom: 10px; " class="stylingblock-content-wrapper camarker-inner"><span style="font-size:15px;">Hi %%ContactFirstName%%<br>
<br>
<b>Welcome to the VERY FIRST edition of our newsletter!&nbsp;</b><br>
<br>
Created by popular demand, this newsletter brings you the latest updates and classroom-ready ideas to <b>support teaching and learning across your schoo</b>l.&nbsp;<br>
&nbsp;<br>
We&rsquo;ve gathered everything in one place so you can spend<b> less time sifting through emails and more time making an impact</b>.&nbsp;<br>
&nbsp;<br>
<b>What&rsquo;s new at 3P Learning?&nbsp;</b><br>
<br>
Things have been busy! Here&rsquo;s a quick roundup of recent highlights:&nbsp;</span><ul>
	<li>
		<span style="font-size:15px;"><b><a alias="ABC Reading Eggs, ABC Mathseeds and Mathletics" conversion="false" data-linkto="https://" href="https://readingeggs.com/articles/reading-eggs-and-mathseeds-named-2025-edtech-awards-finalists/?utm_source=Email&utm_medium=text_link&utm_campaign=GLOBAL_3P0055_May-2025-Newsletter-APAC" title="ABC Reading Eggs, ABC Mathseeds and Mathletics">ABC Reading Eggs, ABC Mathseeds and Mathletics</a></b> have all been selected as finalists in the <b>2025 EdTech Awards Cool Tool </b>category!&nbsp;</span></li><li>
		<span style="font-size:15px;">The launch of <b>the Golden Stepping Stones</b> in ABC Reading Eggs was a big hit, making it easier to keep students motivated. &nbsp;Plus, learners rave about brand-new Change Room, with new visuals for each clothing item, it&rsquo;s more rewarding than ever!&nbsp;<b><a alias=" Learn more" conversion="false" data-linkto="https://" href="https://youtu.be/TOygBHlkIy4?si=zXUOx8RrWcVgPNoB" title=" Learn more">Learn more</a>.</b></span></li></ul><div>
	<span style="font-size:15px;">As always, you're invited to The POD &ndash; a thriving <b>online community for educators</b>. Join us to unlock exclusive updates, inspiring classroom ideas and special perks just for you!<b>&nbsp;<a alias=" Join the POD." conversion="false" data-linkto="http://" href="http://thepod.3plearning.com/join/welcomeAPAC" title="&nbsp;Join the POD.">Join the POD.</a></b></span></div></td></tr></table>