html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Proxima Nova Alt", sans-serif;
}

.nav-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 80px;
    background: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.12);
    padding-left: 30px; /* Add padding to move the logo slightly away from the extreme left */
    margin-bottom:0; /* Ensure no margin below the nav */
}

.brand-logo {
    display: flex;
    align-items: center;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;/* Align content to the top*/
    align-items: center;
    text-align: center;
    padding: 0 20px;/* Ensure padding to prevent content from touching the edges */
    margin-top:0; /* Ensure no amrgin at the top*/
}
.logo-icons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; /* Add spacing between icons */
    flex-wrap: wrap;
    margin-bottom: 20px; /* Add space below the icons */
}

.logo-icons-container img {
    max-height: 70px;
    width: auto;
}

h1 {
    color: #000;
    font-size: 32px; /* Adjust font-size for better responsiveness */
    font-weight: 700;
    margin-bottom: 20px;
}

p {
    color: #000;
    font-size: 18px; /* Adjust font-size for better readability */
    font-weight: normal;
    margin: 10px 0;
}

/*p em {
    font-style: normal;
    opacity: 0.7;
    font-weight: 400;
}*/

a.resubscribe-link {
    font-size: 18px; /* Adjust font-size for better readability */
    color: #0700ee;
    text-decoration: underline;
    font-weight: normal;
   /* line-height: 24px;*/
   margin-top: 20px;
}

.page-footer {
    background: #f8f8f8;
    padding: 10px 20px;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.footer-text, .footer-links {
    margin: 5px 0;
}

.footer-links a {
    margin: 0 5px;
    color: #000;
    text-decoration: none;
}

@media (min-width: 768px) {
    .footer-container {
        flex-direction: row;
        justify-content: space-between;
    }
}

@media (min-width: 1024px) {
    h1 {
        font-size: 40px; /* Adjust font-size for larger screens */
    }

    p {
        font-size: 20px; /* Adjust font-size for larger screens */
    }

    a.resubscribe-link {
        font-size: 20px; /* Adjust font-size for larger screens */
    }
}
